.blog-head {
    color: #000;
    text-align: center;
    display: flex;
    z-index: -1;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
    font-style: normal;
    font-weight: 700;
    line-height: 6.25rem;
    /* 66.667% */
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin: 20% 5% 18% 5%;
}
.ellipse {
    position: absolute;
    top: 4.2rem;
    z-index: -1;
    /* Adjust as needed */
    right: 0;
    width: 30%;
    transform: translateX(0%);
}
.text-container-new {
    color: #000;
    margin: 5% 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.125rem;
    /* 178.378% */
    letter-spacing: 0.32375rem;
    text-transform: uppercase;
    text-align: center;
}
.text-subcontainer-new {
    display: flex;
    margin: auto;
    /* wid */
    justify-content: center;
}
.text-container-new4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 20%;
    margin-top: 30%;
    max-width: 1200px;
    height: fit-content;
    position: relative;
    /* Set a maximum width to prevent excessive spreading on larger screens */
}
.text-container-new1,
.text-container-new2,
.text-container-new3 {
    /* margin-top: 5%; */
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    opacity: 0.8;
}
.gallery-link{
    text-decoration: none;
    color: #000;
}
.gallery {
    display: flex;
    justify-content: center;
    color: #000000!important;
    font-family: system-ui, sans-serif;
    font-size: 300%;
    /* Adjusted font size for better mobile readability */
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: 2rem;    
    position: absolute;
    left: 50%;
    top: -10%;
    /* Adjusted line height */
    text-align: center;
    /* Center the text */
    transform: translateX(-50%);
    letter-spacing: 0.5rem;
    /* Adjusted letter spacing */
    text-transform: uppercase;
    z-index: 2;
}

@media (min-width: 767px) {
    .blog-head{
        font-size: 600%;
    }
    .text-container-new4 {
        grid-template-columns: repeat(3, 1fr);
        margin: 10%;  
        margin-top: 0;
        position: relative;
    }
    .gallery{    
    position: absolute;
    left: 50%;
    top: 40%;
    }
    .text-container-new1,
    .text-container-new2,
    .text-container-new3 {
        margin-top: 0;
        /* Reset margin for larger screens */
    }
}
@media (min-width: 992px) {
    .text-container-new4 {
        font-size: 200%;
        grid-template-columns: repeat(3, 1fr);
        margin: 10%;
    }
}