/* Default styles for larger screens */
body {
    background: #FFF9F6;
}

.home-bg {
    width: 100%;
    height: 30%;
    background-color: #646464;
    position: relative;
    flex-shrink: 0;
}

.home-text {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
<<<<<<< HEAD
    font-size: 400%;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    position: relative;
    z-index: 2;
    top: 180px;
    left: 10%;
=======
    font-size: 3rem; /* Adjust font size as needed */
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    position: absolute;
    top: 35%;
    left: 5%;
>>>>>>> 747eb5002ccace0a2afd271f13b2a3f6ac8080ce
    letter-spacing: 9px;
    text-transform: uppercase;
    width: 33%;
}
.home-bg-text {
    width: 100%;
    height: 0;
}

.home-img {
    padding: 0px 40px;
}

.home-images {
    display: grid;
    border-radius: 7px;
    background: #F0F0F0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin: 10% auto;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.mid-img {
    padding: 0px 50px;
    margin: auto;
}

.img-item {
    width: 100%;
    display: flex;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.vertical-line {
    width: 1px !important;
    height: auto !important;
    background: #000 !important;
    filter: blur(1px) !important;
}


.image1 {
    width: 100%;
    height: auto;
    margin-right: 0;
    border-radius: 1rem;
    background: #000;
}

.image1 img {
    width: 100%;
    height: auto;
}

.home-text-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.welcome-text {
    margin: 0px;
<<<<<<< HEAD
    text-align: left;
    width: 680px;
=======
    width: 90%;
>>>>>>> 747eb5002ccace0a2afd271f13b2a3f6ac8080ce
}

.home-welcome-text {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 100%;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 0;
}

.home-welcome-text2 {
    margin-right: 0;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 100%;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.container1,
.container2,
.container3,
.container4,
.container5,
.container6 {
    margin: 0;
}

.container1 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
}

.container2 {
    margin-top: 5%;
    border-radius: 0.25rem;
    border: 3px solid #000;
    background: #FFF9F9;
    height: auto;
    margin-right: 0;
    margin-left: 0;
}

.rakhee {
    margin-top: 5%;
    margin-left: 0;
    margin-bottom: 3%;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.3125rem;
    letter-spacing: 0.4875rem;
    text-transform: uppercase;
}

.rakhee-text {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 0;
    line-height: 1.8125rem;
    letter-spacing: 0.02875rem;
    text-transform: capitalize;
}

.rakhee-line {
    background: #000;
    width: 33.22025rem;
    height: 0.125rem;
    position: relative;
    left: 0;
}

.img-container {
    z-index: 0;
    border-radius: 0.1875rem;
    background: rgba(0, 0, 0, 0.35);
    position: relative;
    top: 0;
    height: auto;
    width: 90%;
    left: 5%;
}

.rakhee-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.rakhee-text2 {
    color: #000;
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
}

.container4 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
}

.courses {
    margin: 2% auto;
    color: #000;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0.07875rem;
    text-transform: capitalize;
}

.rule {
    width: 80%;
    margin: 10px auto;
}

.courses-text {
    margin: 10px auto;
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.21875rem;
    letter-spacing: 0.03938rem;
    text-transform: capitalize;
}

.container5 {
    margin: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.container6 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    text-align: center;
}

.sub-6 {
    margin: 0;
    height: auto;
    width: 100%;
}

<<<<<<< HEAD
/* Add these styles for mobile view */
@media screen and (min-width: 450px) and (max-width: 768px) {
    .home-text {
        font-size: 300%!important;
        line-height: 150%!important;
        /* left: 10px; */
        width: 60%;
        top: 40%!important;
    }
}
@media (max-width: 768px) {
    .home-text {
        font-size: 200%;
        line-height: 100%;
        /* left: 10px; */
        width: 60%;
        top: 40px;
=======
/* Media Query for screens up to 768px */
@media (max-width: 768px) {
    .home-text {
        font-size: 2rem; /* Adjust font size for smaller screens */
        line-height: 1.2; /* Adjust line height as needed */
        width: 80%;
        top: 20%;
        left: 10%;
>>>>>>> 747eb5002ccace0a2afd271f13b2a3f6ac8080ce
    }

    .home-text-img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 200px;
    }

    .home-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 20px auto;
    }

    .home-images .img-item {
        width: 100%;
        margin-bottom: 0px;
    }

    .home-img {
        padding: 0;
        width: 90%;
        margin: 10% auto;
    }

    .vertical-line {
        display: none;
    }

    .container1,
    .container2,
    .container3,
    .container4,
    .container5,
    .container6 {
        margin-left: 0;
        margin-right: 0;
    }

    .container4 {
        flex-direction: column;
        margin: 10% auto;
        align-items: center;
        text-align: center;
        margin-top: 10%;
    }

    .image1 {
        width: 80%;
        margin: 0;
        height: 300px;
    }

    .welcome-text {
        width: 90%;
        text-align: center;
    }

    .home-welcome-text {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.5px;
        margin: 10% auto;
    }

    .home-welcome-text2 {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px;
        margin: 5% auto;
    }

    .rakhee {
        font-size: 2.5rem;
        line-height: 3.5rem;
        letter-spacing: 0.5rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .rakhee-text {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
        text-align: center;
    }

    .rakhee-line {
        width: 60%;
        left: 20%;
    }

    .img-container {
        top: -140px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .rakhee-text-container {
        width: 100%;
        margin: 0 auto;
    }

    .rakhee-text2 {
        font-size: 0.9rem;
        margin: 10px 0;
        text-align: center;
    }

    .container4 {
        margin-top: 10%;
    }

    .sub {
        width: 90%;
        margin: 5%;
        height: auto;
    }

    .sub-text {
        margin: 10px auto;
        font-size: 90%;
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
        width: fit-content;
    }

    .sub-text2 {
        padding: 10px;
        font-size: 1.2rem;
        line-height: 2rem;
        letter-spacing: 0.05rem;
    }

    .sub-btn {
        font-size: 1rem;
        line-height: 2rem;
        padding: 10px 20px;
        width: 80%;
        margin: 4% auto;
    }

    .courses {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.07rem;
    }

    .rule {
        width: 90%;
    }

    .courses-text {
        font-size: 1rem;
        line-height: 1.8rem;
        letter-spacing: 0.03rem;
        margin: 10px 5%;
        text-align: center;
    }

    .container5 {
        margin-top: 30px;
    }

    .container6 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        text-align: center;
        margin: 1% auto;
    }

    .sub-6 {
        margin: auto;
        height: auto;
        width: 100%;
    }
}
