body {
    background: #FFF9F6;
}

.home-bg {
    width: 100%;
    height: 550px;
    flex-shrink: 0;
}

.home-text {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 300%;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 101% */
    position: absolute;
    top: 35%;
    left: 5%;
    letter-spacing: 9px;
    text-transform: uppercase;
    width: 33%;
}

.home-bg-text {
    width: 100%;
    height: 0;
}

.home-img {
    padding: 0px 40px;
}

.home-images {
    display: grid;
    border-radius: 7px;
    background: #F0F0F0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin: 10% auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 116px;
    left: 200px; */
}

.mid-img {
    padding: 0px 50px;
}

.img-item {
    width: 100%;
    display: flex;
    /* margin: 40px; */
}

.grid-item img {
    max-width: 100%;
    /* Ensure images don't exceed the width of their parent element */
    height: auto;
    /* Maintain aspect ratio */
}

.vertical-line {
    width: 1px !important;
    height: auto !important;
    background: #000 !important;
    filter: blur(1px) !important;
}

.last-img {
    padding-right: 0px;
}

.image1 {
    width: 414px;
    height: 469px;
    flex-shrink: 0;
    margin-right: 60px;
    border-radius: 1rem;
    background: #000;
}

.image1 img {
    width: 100%;
    height: 100%;

}

.home-text-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.welcome-text {
    margin: 0px;
    /* position: relative;
    top: 10px;
    left: 46%; */
    width: 680px;
}

.home-welcome-text {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    width: 80%;
    /* 135% */
    letter-spacing: 0.8px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.home-welcome-text2 {
    margin-right: 10px;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    width: 80%;
    /* 185% */
    letter-spacing: 0.7px;
    text-transform: capitalize;
}

.container1 {
    display: flex;
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 10%;
}

.container2 {
    margin-top: 10%;
    margin-left: 7%;
    border-radius: 0.25rem;
    border: 3px solid #000;
    background: #FFF9F9;
    height: 620px;
    margin-right: 7%;
}



.img-container img {
    width: 100%;
    height: 100%;
}

.container3 {
    margin-top: 100px;
    margin-bottom: 5px;
    text-align: center;
}

.courses {
    margin-bottom: 5px;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 6.25rem;
    /* 208.333% */
    letter-spacing: 0.105rem;
    text-transform: capitalize;
}

.rule {
    width: 60%;
    height: 0.1875rem;
    background: #000;
    margin-top: 5px;
}

.courses-text {
    margin: 10px 20%;
    color: #000;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.21875rem;
    /* 197.222% */
    letter-spacing: 0.03938rem;
    text-transform: capitalize;
}

.container4 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 2%;
    width: auto;
    align-content: center;
    text-align: center;
}

.courses-img {
    padding-left: 100px;
    padding-right: 100px;
}

.sub-text {
    display: flex;
    width: 16.75rem;
    height: 3.6875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;
    /* 156.522% */
    letter-spacing: 0.05031rem;
    text-transform: capitalize;
}

.sub {
    width: 19rem;
    background-color: rgba(0, 0, 0, 0.15);
    /* display: flex; */
    height: 21.6875rem;
    flex-shrink: 0;
    border: 3px solid rgba(59, 0, 2, 1);
    border-radius: 4%;
    margin: 0 10%;
    justify-content: center;
}

.sub-text2 {
    padding: 40px;
    margin: auto;
    width: 13.6875rem;
    height: 4.1875rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.1875rem;
    /* 170% */
    letter-spacing: 0.06563rem;
    text-transform: capitalize;
}

.sub-text {
    display: flex;
    margin: 30px auto;
}

.sub-btn {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 255% */
    letter-spacing: 0.04375rem;
    text-transform: capitalize;
    display: flex;
    width: fit-content;
    height: 3.02388rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    background: #000;
}

.sub-btn:hover {
    background: #D9D4D1;
    color: #000;
    border: 3px solid #D9D4D1;
    transition: 0.4s;
}

.take-away {
    width: fit-content;
    color: #000;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.65625rem;
    margin: 2% auto;
    /* 116.406% */
    letter-spacing: 0.56rem;
    text-transform: uppercase;
}

.container5 {
    margin-top: 50px;
    display: flex;
    width: auto;
    justify-content: center;
}

.container6 {
    margin: 5px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* Create 3 equal-width columns */
    gap: 5rem;
    /* Add some gap between the items */
}

.sub-6 {
    border: #000 3px solid;
    align-items: center;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.rakhee-bg {
    display: flex;
    justify-content: end;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.rakhee {
    margin: 7%;
    position: relative;
    border: #000 3px solid;
}

.rakhee-head {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 1% 0 0 2%;
    /* 117.647% */
    letter-spacing: 0.74375rem;
    text-transform: uppercase;
}

.rakhee-subhead {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin: 1% 0 0 3%;
    line-height: 150%;
    /* 185% */
    letter-spacing: 0.04375rem;
    text-transform: capitalize;
}

.rakhee-text {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 3%;
    /* 200% */
    letter-spacing: 0.04375rem;
    text-transform: capitalize;

}

.rakhee-rule {
    background: #000;
    height: 0.125rem;
    width: 30%;
    margin: 2% 2.5%;
    align-items: start;
}

.rakhee-bg-img {
    position: absolute;
    top: 0;
    width: 40%;
    background-color: #646464;
    height: 100%;
}

.rakhee-text {
    width: 50%;
    height: 100%;
    background-color: #FFF9F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add these styles for mobile view */
@media screen and (min-width: 450px) and (max-width: 768px) {
    .home-text {
        font-size: 300% !important;
        line-height: 150% !important;
        /* left: 10px; */
        width: 60%;
        top: 50% !important;
    }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
    .rakhee {
        flex-direction: column;
        /* Change flex direction to column */
        margin: 20%!important;
    }

    .rakhee-bg {
        order: -1;
        /* Move .rakhee-bg to the top */
    }

    .rakhee-bg-img {
        width: 100%;
        /* Make the image take up full width */
        height: auto;
        /* Maintain aspect ratio */
    }

    .rakhee-head {
        font-size: 2rem;
        margin-left: 7%;
    }

    .rakhee-subhead,
    .rakhee-text {
        font-size: 1rem;
    }

    .rakhee-subhead {
        margin-left: 7%;
    }

    .rakhee-text {
        width: 90%;
        margin-top: 15%!important;
        
    }

    .rakhee-rule {
        margin: 8%;
    }
    .rakhee-bg-img{
        /* height: 100%; */
    }
}

@media (max-width: 750px) {
    .rakhee {
        flex-direction: column;
        /* Change flex direction to column */
        margin: 7%;
    }

    .rakhee-bg {
        order: -1;
        /* Move .rakhee-bg to the top */
    }

    .rakhee-bg-img {
        width: 100%;
        /* Make the image take up full width */
        height: auto;
        /* Maintain aspect ratio */
    }

    .rakhee-head {
        font-size: 2rem;
        margin-left: 7%;
    }

    .rakhee-subhead,
    .rakhee-text {
        font-size: 1rem;
    }

    .rakhee-subhead {
        margin-left: 7%;
    }

    .rakhee-text {
        width: 90%;
    }

    .rakhee-rule {
        margin: 8%;
    }
}

@media (max-width: 768px) {
    .home-text {
        font-size: 200%;
        line-height: 100%;
        /* left: 10px; */
        width: 60%;
        top: 20%;
    }

    .home-bg {
        height: 350px;
    }

    .home-text-img {
        display: flex;
        justify-content: center;
        width: 75%;
        height: 200px;
    }

    .home-images {
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        margin: 20px auto;
    }

    .home-images .img-item {
        width: 100%;
        margin-bottom: 0px;
    }

    .home-img {
        padding: 0;
        width: 80%;
        margin: 10% auto;
    }

    .vertical-line {
        display: none;
    }

    .container1,
    .container2,
    .container3,
    .container4,
    .container5,
    .container6 {
        margin-left: 0;
        margin-right: 0;
    }

    .container4 {
        margin-top: 10%;
    }

    .image1 {
        width: auto;
        margin: 0;
        height: 300px;
    }

    .welcome-text {
        width: 80%;
        text-align: center;
    }

    .home-welcome-text {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.6px;
        margin: 10% auto;
    }

    .home-welcome-text2 {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.56px;
        margin: 5% auto;
    }

    .img-container {
        top: -280px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .container4 {
        flex-direction: column;
        margin: 10% auto;
        align-items: center;
        text-align: center;
    }

    .sub {
        width: 80%;
        margin: 5%;
        height: fit-content;
    }

    .sub-text {
        margin: 10px auto;
        font-size: 90%;
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
        width: fit-content;
    }

    .sub-text2 {
        padding: 10px;
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.06563rem;
    }

    .sub-btn {
        font-size: 1rem;
        line-height: 2.5rem;
        padding: 10px 20px;
        width: 75%;
        margin: 4% auto;
    }

    .courses {
        font-size: 2.25rem;
        line-height: 2.5rem;
        letter-spacing: 0.07875rem;
    }

    .rule {
        width: 80%;
    }

    .courses-text {
        font-size: 1rem;
        line-height: 2.21875rem;
        letter-spacing: 0.03938rem;
        margin: 10px 5%;
        text-align: center;
    }

    .container5 {
        margin-top: 30px;
    }

    .container6 {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        text-align: center;
        margin: 1% 10%;
    }

    .sub-6 {
        margin: auto;
        height: max-content;
        width: 100%;
    }
}