/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgb(35, 35, 35);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  height: 70px;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links .toggle-button {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

/* Mobile view */
@media (max-width: 768px) {
  .nav-links ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #232323;
    margin: 0;
    padding: 0;
  }

  .nav-links ul.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-links .toggle-button {
    display: block;
  }
}
