.course-bg-text {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.3125rem;
    letter-spacing: 0.5625rem;
    text-transform: uppercase;
}

.course-bg-text-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    margin: auto;
    justify-content: center;
}

.course-bg-text1 {
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 208.333% */
    letter-spacing: 0.42rem;
    text-transform: uppercase;
    margin: 5% 4% 0% 15%;
}

.course-bg-text2 {
    padding: 2% 2% 2% 2%;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 163.889% */
    letter-spacing: 0.07875rem;
    text-transform: capitalize;
    margin: 0 15%;
}

.rule-1 {
    margin: 5% 15% 5% 15%;
    height: 0.125rem;
    background: #000;

}

.text-container2 {
    /* margin: auto; */
    text-align: center;
}

.text-subcontainer {
    margin: auto;
}

.text-btn {
    display: flex;
    margin: 5% auto;
}

.course-btn:hover {
    background: #FFF9F6;
    color: #000;
    border: 0 solid #ffffff;
    transition: 0.4s;
}

.course-btn {
    border-radius: 4.75rem;
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04594rem;
    text-transform: uppercase;
    /* display: flex; */
    background: rgba(0, 0, 0, 0.82);
    width: fit-content;
    height: 4rem;
    flex-shrink: 0;
    margin: auto;
}
.new-links {
    color: #000;
    text-decoration: none;
}
.new-links:hover {
    color: #000;
    text-decoration: none;
}

/* Add these styles to adjust for mobile view */

@media (max-width: 768px) {
    .course-bg-text {
        font-size: 3rem;
    }

    .course-bg-text-container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 10%;
        left: 50%;
        margin: auto;
    }

    .course-bg-text1 {
        font-size: 150%;
        margin: 5% 4% 0% 5%;
    }

    .course-bg-text2 {
        padding: 3% 5%;
        margin: 0 5%;
    }

    .rule-1 {
        margin: 5% auto 2% auto;
    }

    .text-container1,
    .text-container2 {
        text-align: center;
    }

    .text-subcontainer {
        margin: auto;
    }

    .text-btn {
        margin: 2% auto;
        font-size: 90%;
    }

    .course-btn {
        width: 100%;
        max-width: 300px;
    }
}